.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-full-width {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
