<div class="wrapper">
  <img class="logo" alt="Logo" src="assets/Logo.png">

  <svg class="top-glow" width="504" height="359" viewBox="0 0 504 359" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.2" filter="url(#filter0_f_3_57)">
      <circle cx="129.5" cy="-15.5" r="174.5" fill="#FE04BB"/>
    </g>
    <defs>
      <filter id="filter0_f_3_57" x="-245" y="-390" width="749" height="749" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_3_57"/>
      </filter>
    </defs>
  </svg>
  <svg class="right-crystal" width="417" height="749" viewBox="0 0 417 749" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g opacity="0.2" filter="url(#filter0_f_46_2)">
      <circle cx="374.5" cy="374.5" r="174.5" fill="#FE04BB"/>
    </g>
    <g filter="url(#filter1_f_46_2)">
      <rect x="246" y="311.348" width="141.829" height="253.892" transform="rotate(-51.7282 246 311.348)" fill="url(#pattern0)"/>
    </g>
    <defs>
      <filter id="filter0_f_46_2" x="0" y="0" width="749" height="749" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_46_2"/>
      </filter>
      <filter id="filter1_f_46_2" x="241" y="195" width="297.174" height="278.606" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_46_2"/>
      </filter>
      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_46_2" transform="translate(-2.07407) scale(0.0123457 0.00689655)"/>
      </pattern>
      <image xmlns="http://www.w3.org/2000/svg" id="image0_46_2" width="290" height="145" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/RightCrystals.png"/>
    </defs>
  </svg>

  <svg class="left-crystal" width="440" height="810" viewBox="0 0 440 810" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g opacity="0.2" filter="url(#filterLeftCrystal)">
      <circle cx="18.5" cy="421.5" r="221.5" fill="#27E1F8"/>
    </g>
    <g filter="url(#filterLeftCrystal2)">
      <rect x="25.5474" y="292" width="143.879" height="251.235" transform="rotate(25.8512 25.5474 292)" fill="url(#patternLeftCrystal)"/>
    </g>
    <defs>
      <filter id="filterLeftCrystal" x="-403" y="0" width="843" height="843" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_47_3"/>
      </filter>
      <filter id="filterLeftCrystal2" x="-94" y="282" width="259.028" height="308.83" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_47_3"/>
      </filter>
      <pattern id="patternLeftCrystal" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageLeftCrystal" transform="translate(-1.98396) scale(0.00534759 0.00306748)"/>
      </pattern>
      <image xmlns="http://www.w3.org/2000/svg" id="imageLeftCrystal" width="651" height="326" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/blue_LeftCrystals.png"/>
    </defs>
  </svg>
<div class="wheel-wrapper">
  <svg class="wheel-logo" width="970" height="503" viewBox="0 0 970 503" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g opacity="0.2" filter="url(#filterWheelLogo)">
      <ellipse cx="485" cy="432" rx="285" ry="232" fill="#FDF259"/>
    </g>
    <rect x="99" y="222" width="561" height="561" fill="url(#patternWheelLogo)"/>
    <rect x="89.5165" y="394" width="124.725" height="153.68" transform="rotate(0.938264 89.5165 394)" fill="url(#pattern1)"/>
    <rect x="579.923" y="318" width="130" height="227" transform="rotate(12.7047 579.923 318)" fill="url(#pattern2)"/>
    <rect x="486" y="317.743" width="99.6436" height="122.775" transform="rotate(-0.427174 486 317.743)" fill="url(#pattern3)"/>
    <rect x="546.096" y="297.566" width="92.4838" height="165.557" transform="rotate(6.27508 546.096 297.566)" fill="url(#pattern4)"/>
    <rect x="159.184" y="291" width="115.325" height="215.465" transform="rotate(18.7289 159.184 291)" fill="url(#pattern5)"/>
    <rect x="199.458" y="298.953" width="78.2462" height="136.63" transform="rotate(6.0523 199.458 298.953)" fill="url(#pattern6)"/>
    <defs>
      <filter id="filterWheelLogo" x="0" y="0" width="970" height="864" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_49_4"/>
      </filter>
      <pattern id="patternWheelLogo" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageWheelLogo" transform="scale(0.0025974)"/>
      </pattern>
      <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageLeftCrystals" transform="translate(-0.354701 -0.0555556) scale(0.0042735 0.00347222)"/>
      </pattern>
      <pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageLeftCrystals" transform="translate(-1.98396) scale(0.00534759 0.00306748)"/>
      </pattern>
      <pattern id="pattern3" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageLeftCrystals" transform="translate(-0.354701 -0.0555556) scale(0.0042735 0.00347222)"/>
      </pattern>
      <pattern id="pattern4" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageRightCrystals" transform="translate(-2.07407) scale(0.0123457 0.00689655)"/>
      </pattern>
      <pattern id="pattern5" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageRightCrystals" transform="translate(-0.366337) scale(0.00990099 0.00689655)"/>
      </pattern>
      <pattern id="pattern6" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#imageLeftCrystals" transform="translate(-1.98396) scale(0.00534759 0.00306748)"/>
      </pattern>
      <image xmlns="http://www.w3.org/2000/svg" id="imageWheelLogo" width="385" height="385" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/wheelLogo.png"/>
      <image xmlns="http://www.w3.org/2000/svg" id="imageLeftCrystals" width="651" height="326" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/blue_LeftCrystals.png"/>
      <image xmlns="http://www.w3.org/2000/svg" id="imageRightCrystals" width="290" height="145" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/RightCrystals.png"/>
    </defs>
  </svg>
</div>
  <span class="text">Войти в систему</span>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Login</mat-label>
      <input [formControlName]="'login'" type="login" matInput>
      <mat-icon matSuffix>alternate_login</mat-icon>
      <mat-error *ngIf=" loginForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input [formControlName]="'password'" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf=" loginForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="button-wrapper">
      <button class="login-button" type="submit">ПОЛУЧИТЬ КРИСТАЛЛЫ
      </button>
    </div>
  </form>
</div>

