<div class="wrapper">

  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Login</mat-label>
      <input [formControlName]="'login'" type="login" matInput>
      <mat-icon matSuffix>alternate_login</mat-icon>
      <mat-error *ngIf=" LoginForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input [formControlName]="'password'" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf=" LoginForm.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="button-wrapper">
      <button mat-stroked-button color="primary" type="submit">Login
      </button>
    </div>
  </form>
</div>

