
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-color: #0E1738;

}

.text {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #FFFFFF;

}

.full-width {
  width: 100%;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #FFFFFF;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.right-crystal {
  position: absolute;
  bottom: 0;
  right: 0;
}

.left-crystal {
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-glow {
  position: absolute;
  top: 0;
  left: 0;
}

.wheel-logo {
  margin-left: -90px;
  margin-right: -300px;
  margin-top: -310px;
  display: block;
}
.mat-icon{
  overflow: hidden;
}

.login-button {
  position: relative;
  margin: 0;
  width: 461px;
  height: 50px;
  padding: 0;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  outline: 0;
  color: #0E1738;
  background: #FEC550;
}

.login-button:hover:not([disabled]):after {
  position: absolute;
  content: '';
  inset: 0;
  background-color: rgba(255, 255, 255, 0.15);
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 0 !important;
  border-color: #FFFFFF;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 !important;
  border-color: #FFFFFF;
}

.wheel-wrapper {
  position: absolute;
  bottom: 0;
}
